.flashcard-container {
    padding: 10px;
    background-color: #f4f5f7;
    text-align: center;
    width: 100%;
    max-width: 500px; /* Adjust width of the flashcard */
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;    /* adjust to move flashcard up/down page */
}

.flip-icon {
    position: absolute;
    top: 10px;
    left: auto; 
    right: 10px; /* Position icon to the right */
    transform: scaleX(-1); /* flip icon horizontally */
}

.flashcard-header {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.language {
    font-weight: bold;
}


.flashcard {
    min-height: 200px;
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.flip-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.flashcard-content {
    font-size: 5rem; 
    font-weight: bold;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-grow: 1; /* Allow content to take all available space */
    margin: 50px 0;
}

.flashcard-actions {
    margin-top: auto; /* Push buttons to the bottom */
    padding-bottom: 10px; /* Add some padding at the bottom */
}

button {
    background: #4caf50;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.hard-button {
    background: red;
}

.hard-button:hover {
    background: #f65b5b;
}

button:hover {
    background: #b9e8ba;
}

.no-more-cards {
    padding: 50px;
    font-size: 1.5rem;
    color: #888;
}

