
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.sidebar {
    color: #FFFFFF;
    overflow-y: scroll;
}


/* Sidebar CSS */
.sidebar-header h2 {
    margin-top: 30px;
    margin-bottom: 3px;
    text-align: center;
    color: #3333;
    font-size: 30px;
    position: relative;
}

.deck-instruction {
    text-align: center;
    font-size: 18px;
    color: #3333; 
    margin-bottom: 10px;
}

.deck-list {
    list-style: none;
    padding: 0;
}

.deck-item {
    width: 70%;
    height: 90px;
    margin: 5px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: linear-gradient(90deg, #cfecd0, #ffc5ca);
    margin-bottom: 20px;

    border-radius: 5px;
}

.deck-item:hover {
    background: #cfecd0;
}

.delete-button {
    position: absolute; /* position it absolutely within .deck-item */
    right: 10px;
    top: 50%;
    padding: 0;
    cursor: pointer;
    /* padding: 5px 10px; */
}

.deck-name {
    color: white;
    margin-top: 18px;
    font-size: 35px;
    display: block;  /* to make it occupy its own line */
    text-align: center;
}

.card-count {
    color: white;
    font-size: 18px;
    display: block;
    text-align: center;
}

.add-deck-button {
    width: 170%;
    margin-bottom: -25px;
    padding: -10px;
    border-radius: 5px;
    font-size: 20px;
}








